/* PRIMITIVES
-------------------------------------------------- */
/* Footer
-------------------------------------------------- */
/* line 5, ../scss/footer.scss */
#content-footer {
  font-weight: bold;
  text-align: center;
}
/* line 9, ../scss/footer.scss */
#content-footer .row {
  margin: 20px 0;
}
/* line 13, ../scss/footer.scss */
#content-footer .first {
  border-right: 1px solid #333;
}
/* line 17, ../scss/footer.scss */
#content-footer .second {
  border-right: 1px solid #333;
}

/* line 22, ../scss/footer.scss */
#logo-footer {
  margin: 5px 0;
  text-align: center;
  height: 80px;
  background: white url("../images/bkg-logo-footer-band.png") top left repeat-x;
  /*@include box-shadow(rgba(50, 50, 50, 0.75) 0 5px 5px);*/
}

/* line 30, ../scss/footer.scss */
#nav-footer {
  text-align: center;
  font-size: 12px;
}
/* line 34, ../scss/footer.scss */
#nav-footer .nav-menu {
  font-weight: bold;
  margin-top: 5px;
}

/* line 41, ../scss/footer.scss */
#associations-footer .associations {
  text-align: center;
}
