/* PRIMITIVES
-------------------------------------------------- */
/* HEADER
-------------------------------------------------- */
/* line 6, ../scss/header.scss */
#main-page-header {
  margin: 0;
  height: 120px;
  background: transparent url("../images/bkg-header-band.png") top left repeat-x;
}
/* line 11, ../scss/header.scss */
#main-page-header .header-inner {
  padding: 0 20px 0 5px;
  overflow: hidden;
  *zoom: 1;
}
/* line 16, ../scss/header.scss */
#main-page-header .icons {
  margin-top: 25px;
}
/* line 21, ../scss/header.scss */
#main-page-header .hospital-portal,
#main-page-header .portal-portal {
  margin: 5px 10px;
}
