/* PRIMITIVES
-------------------------------------------------- */
/* NAVIGATION BAR OVERRIDES
-------------------------------------------------- */
/* line 5, ../scss/navbar.scss */
.navbar {
  background-color: #1d7a1d;
  min-height: 36px;
  height: auto !important;
  height: 36px;
  -webkit-box-shadow: rgba(50, 50, 50, 0.75) 0 2px 5px;
  -moz-box-shadow: rgba(50, 50, 50, 0.75) 0 2px 5px;
  box-shadow: rgba(50, 50, 50, 0.75) 0 2px 5px;
}

/* line 11, ../scss/navbar.scss */
.navbar-nav > li {
  float: left;
}

/* line 15, ../scss/navbar.scss */
.navbar-default {
  margin-bottom: 0;
  border: none;
  z-index: 1;
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 / 0;
  border-radius: 0 / 0;
}
/* line 22, ../scss/navbar.scss */
.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-align: center;
  padding: 8px 20px;
  font-weight: normal;
  font-size: 14px;
}
/* line 31, ../scss/navbar.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffcc00;
}
/* line 37, ../scss/navbar.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #2CB72C;
}
/* line 42, ../scss/navbar.scss */
.navbar-default .navbar-toggle {
  border-color: #fff;
}
/* line 46, ../scss/navbar.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
