/* PRIMITIVES
-------------------------------------------------- */
$primary-color: #1D7A1D;
$secondary-color: #FFCC00;
$secondary-color-dark: #D3A900;
$secondary-color-darker: #BC9600;
$secondary-color-light: #FFD942;
$container-bkg-color: #D8DFD8;

$navbar-z-index: 1;