@import "lib";
@import "compass/utilities/general/clearfix";

/* HEADER
-------------------------------------------------- */
#main-page-header {
	margin: 0;
	height: 120px;
	@include background-image($path: 'bkg-header-band.png', $repeat: repeat-x);
	
	.header-inner {
		padding: 0 20px 0 5px;
		@include clearfix();
	}
	
	.header-right {
		margin-top: 20px;
	}
	
	.icons {
		margin-bottom: 0;
		text-align: right;
	}
	
	.hospital-portal,
	.portal-portal {
		margin: 3px 10px;
	}
}
